.row .resultContainer {
    align-content: stretch;
    overflow:auto;
}
.header {
    text-align: left;
    margin-top:30px;
    margin-bottom:30px;
}
.header h3{
    margin:0px;
}

.docContent li{
    list-style-type:none;
}
.docContent{
    padding-bottom:10px;
}
.resultContainer > h4{
    padding-bottom: 12px;
    padding-top:12px;
}

.docGoodsSum{
    display: flex;
    flex-direction:row-reverse;
    font-size:16px;
}
.docGoodsSum span{
    padding:10px;
}
.docHeader{
    font-size: 17px;
}
.resultContainer span {
    font-size: 16px;
}
.badgePurple {
    color: #ffffff;
    background-color: #563d7c;
}
.borderPurple {
    border: 1px solid #563d7c !important;
}
.main{
    margin-bottom: 40px !important;
}

